.card-collection {
    width: 16em;
}

.item-collection-img {
    object-fit: cover;
    width: 30em;
    height: 12em;
}

.filters-store {
    border: 1px solid #fff;
}

.filters-store:hover {
    text-decoration: underline;
}