.detail-btn {
    border: 0.1rem solid grey;
    border-radius: 4rem;
    padding: .2em 1em;
    background-color: #fff;
    letter-spacing: .1rem;
}

.detail-btn:hover {
    border: 0.1rem solid black;
}

.quantity-container {
    padding: .2em 1em;
    max-width: 8em;
    border: 1px solid lightgrey
}

.quantity-btn {
    all: unset;
    cursor: pointer;
}